@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@media (min-width: 1401px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 80%;
        margin: 0 20px;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
    }
    .block {
        width: 60%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 35px;
    }
    .tab-button {
        background-color: transparent;
        color: #fff;
        font-size: 1.4em;
        cursor: pointer;
        padding: 1% 2%;
        position: relative;
        text-decoration: none;
    }
    .tab-button::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px;
        border-bottom:solid 2px;
        transition: 0.3s;
        transform: scaleX(0);
    }
    .tab-button::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-right: solid 2px;
        border-left: solid 2px;
        transition: 0.3s;
        transform: scaleY(0);
    }
    .block .tab-button:hover::before,
    .block .tab-button:hover::after {
        transform: scale(1);
    }
    .block div {
        margin: 20px;
    }
    .block h1 {
        font-size: 2.6em;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 0 20px;
    }
    img {
        height: 80%;
        margin: 0 20px;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
    }
    .block {
        width: 60%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 35px;
    }
    .tab-button {
        background-color: transparent;
        color: #fff;
        font-size: 1.2em;
        cursor: pointer;
        padding: 2% 3%;
        position: relative;
        text-decoration: none;
    }
    .tab-button::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px;
        border-bottom:solid 2px;
        transition: 0.3s;
        transform: scaleX(0);
    }
    .tab-button::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-right: solid 2px;
        border-left: solid 2px;
        transition: 0.3s;
        transform: scaleY(0);
    }
    .block .tab-button:hover::before,
    .block .tab-button:hover::after {
        transform: scale(1);
    }
    .block div {
        margin: 20px;
    }
    .block h1 {
        font-size: 2.4em;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
    }
    .block {
        width: 60%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 35px;
    }
    .tab-button {
        background-color: transparent;
        color: #fff;
        font-size: 1.2em;
        cursor: pointer;
        padding: 3% 4%;
        position: relative;
        text-decoration: none;
    }
    .tab-button::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px;
        border-bottom:solid 2px;
        transition: 0.3s;
        transform: scaleX(0);
    }
    .tab-button::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-right: solid 2px;
        border-left: solid 2px;
        transition: 0.3s;
        transform: scaleY(0);
    }
    .block .tab-button:hover::before,
    .block .tab-button:hover::after {
        transform: scale(1);
    }
    .block div {
        margin: 20px;
    }
    .block h1 {
        font-size: 2em;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 10px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 631px) and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1em;
        align-self: center;
    }
    .block {
        width: 60%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 35px;
    }
    .tab-button {
        background-color: transparent;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        padding: 3% 5%;
        position: relative;
        text-decoration: none;
    }
    .tab-button::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px;
        border-bottom:solid 2px;
        transition: 0.3s;
        transform: scaleX(0);
    }
    .tab-button::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-right: solid 2px;
        border-left: solid 2px;
        transition: 0.3s;
        transform: scaleY(0);
    }
    .block .tab-button:hover::before,
    .block .tab-button:hover::after {
        transform: scale(1);
    }
    .block div {
        margin: 20px;
    }
    .block h1 {
        font-size:1.8em;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
}
@media (max-width: 630px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 0.8em;
        align-self: center;
    }
    .block {
        width: 70%;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        flex-direction: column;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        padding: 35px;
    }
    .tab-button {
        background-color: transparent;
        color: #fff;
        font-size: 0.7em;
        cursor: pointer;
        padding: 6% 8%;
        position: relative;
        text-decoration: none;
    }
    .tab-button::before {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-top: solid 2px;
        border-bottom:solid 2px;
        transition: 0.3s;
        transform: scaleX(0);
    }
    .tab-button::after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        border-right: solid 2px;
        border-left: solid 2px;
        transition: 0.3s;
        transform: scaleY(0);
    }
    .block .tab-button:hover::before,
    .block .tab-button:hover::after {
        transform: scale(1);
    }
    .block div {
        margin: 20px;
    }
    .block h1 {
        font-size:1.4em;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
}