@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@media (min-width: 1401px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 80%;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
        margin: 0 6%;
    }
    .info {
        display: flex;
        margin-top: 10vh;
        font-size: 1.2em;
        margin-bottom:10vh;
    }
    .userprofile {
        background-color: #8197c9;
        width: 20%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 15px 10px rgba(0,0,0,0.5);
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userlogo {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 5%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    }
    .userdata {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 10%;
        height: 100%;
        margin-top: 5%;
    }
    .maindiv {
        gap: 20px;
        display: flex;
        width: 80%;
        height: 80vh;
        justify-content: space-around;
    }
    .changelogin {
        margin-top: 10%;
    }
    .logintxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changepassword {
        margin-top: 10%;
    }
    .passwordtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changeemail {
        margin-top: 10%;
    }
    .emailtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
    .change-section {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Выравниваем элементы по центру */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        padding: 20px;
    }

    .change-section input[type="text"], .change-section input[type="password"], .change-section input[type="email"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        width: 100%;

    }

    .change-section button {
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
    }

    .change-section button:hover {
        background-color: #0056b3;
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 80%;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
        margin: 0 6%;
    }
    .info {
        display: flex;
        margin-top: 10vh;
        font-size: 1em;
        margin-bottom:10vh;
    }
    .userprofile {
        background-color: #8197c9;
        width: 20%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 15px 10px rgba(0,0,0,0.5);
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userlogo {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 5%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    }
    .userdata {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 10%;
        height: 100%;
        margin-top: 5%;
    }
    .maindiv {
        gap: 20px;
        display: flex;
        width: 60%;
        height: 80vh;
        justify-content: space-around;
        margin-left: 10%;
    }
    .changelogin {
        margin-top: 10%;
    }
    .logintxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changepassword {
        margin-top: 10%;
    }
    .passwordtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changeemail {
        margin-top: 10%;
    }
    .emailtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
    .change-section {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Выравниваем элементы по центру */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        padding: 20px;
    }

    .change-section input[type="text"], .change-section input[type="password"], .change-section input[type="email"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        width: 100%;

    }

    .change-section button {
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
        margin: 0 6%;
    }
    .info {
        display: flex;
        margin-top: 10vh;
        font-size: 0.8em;
        margin-bottom:10vh;
    }
    .userprofile {
        background-color: #8197c9;
        width: 30%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 15px 10px rgba(0,0,0,0.5);
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userlogo {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 5%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    }
    .userdata {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 10%;
        height: 100%;
        margin-top: 5%;
    }
    .maindiv {
        gap: 20px;
        display: flex;
        width: 50%;
        height: 80vh;
        justify-content: space-around;
        margin-left: 10%;
    }
    .changelogin {
        margin-top: 10%;
    }
    .logintxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changepassword {
        margin-top: 10%;
    }
    .passwordtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changeemail {
        margin-top: 10%;
    }
    .emailtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 10px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
    .change-section {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Выравниваем элементы по центру */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        padding: 20px;
    }

    .change-section input[type="text"], .change-section input[type="password"], .change-section input[type="email"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        width: 100%;

    }

    .change-section button {
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
    }

    .change-section button:hover {
        background-color: #0056b3;
    }
}
@media (min-width: 631px) and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1em;
        align-self: center;
        margin: 0 6%;
    }
    .info {
        display: flex;
        margin-top: 10vh;
        font-size: 1.2em;
        flex-direction: column;
    }
    .userprofile {
        background-color: #8197c9;
        width: 100%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 15px 10px rgba(0,0,0,0.5);
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userlogo {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 5%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    }
    .userdata {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 10%;
        height: 100%;
        margin-top: 5%;
    }
    .maindiv {
        gap: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .changelogin {
        margin-top: 10%;
    }
    .logintxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changepassword {
        margin-top: 10%;
    }
    .passwordtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changeemail {
        margin-top: 10%;
    }
    .emailtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
    .change-section {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Выравниваем элементы по центру */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        padding: 20px;
    }

    .change-section input[type="text"], .change-section input[type="password"], .change-section input[type="email"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        width: 100%;

    }

    .change-section button {
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
    }

    .change-section button:hover {
        background-color: #0056b3;
    }
    .additional-class {
        margin-bottom: 15vh;
    }
}
@media (max-width: 631px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1em;
        align-self: center;
        margin: 0 6%;
    }
    .info {
        display: flex;
        margin-top: 10vh;
        font-size: 1em;
        flex-direction: column;
    }
    .userprofile {
        background-color: #8197c9;
        width: 100%;
        min-height: 10vh;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 15px 10px rgba(0,0,0,0.5);
    }
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .userlogo {
        border-radius: 50%;
        width: 10vh;
        height: 10vh;
        margin-top: 5%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.8);
    }
    .userdata {
        display: flex;
        flex-direction: column;
        justify-content: top;
        margin-left: 10%;
        height: 100%;
        margin-top: 5%;
    }
    .maindiv {
        gap: 20px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .changelogin {
        margin-top: 10%;
    }
    .logintxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changepassword {
        margin-top: 10%;
    }
    .passwordtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    .changeemail {
        margin-top: 10%;
    }
    .emailtxt {
        background-color: #8197c9;
        padding: 20px 30px;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        text-align: center;
        margin-bottom: 20px;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
    .change-section {
        display: flex;
        flex-direction: column; /* Вертикальное расположение элементов */
        align-items: center; /* Выравниваем элементы по центру */
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        padding: 20px;
    }

    .change-section input[type="text"], .change-section input[type="password"], .change-section input[type="email"] {
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        width: 100%;

    }

    .change-section button {
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        border-radius: 30px;
    }

    .change-section button:hover {
        background-color: #0056b3;
    }
    .additional-class {
        margin-bottom: 15vh;
    }
}