@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@media (min-width: 1401px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        flex-direction: row;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
    }
    img {
        height: 80%;
        margin: 0 20px;
    }
    .block {
        margin-bottom: 15%;
        margin-left: 15%;
        margin-right: 15%;
    }
    h2 {
        text-align: center;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        border-spacing: 0;

    }
    .table th, .table td {
        padding: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);

    }
    .table th {
        background-color: #af82ed;
        color: #000;

    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }

    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }

    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 1201px) and (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
    }
    img {
        height: 80%;
        margin: 0 20px;
    }
    .block {
        margin-bottom: 15%;
        margin-left: 10%;
        margin-right: 10%;
    }
    h2 {
        text-align: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        border-spacing: 0;
    }
    .table th, .table td {
        padding: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .table th {
        background-color: #af82ed;
        color: #000;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1.2em;
        align-self: center;
    }
    .block {
        margin-bottom: 15%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h2 {
        text-align: center;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        border-spacing: 0;
    }
    .table th, .table td {
        padding: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .table th {
        background-color: #af82ed;
        color: #000;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 10px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (min-width: 631px) and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 1em;
        align-self: center;
    }
    .block {
        margin-bottom: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }
    h2 {
        text-align: center;
    }

    table table-striped{
        margin-bottom: 20vh;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        border-spacing: 0;
        overflow-x: auto; /* Добавляем горизонтальную прокрутку для таблицы */
    }
    .table th, .table td {
        padding: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);

    }

    .table th {
        background-color: #af82ed;
        color: #000;

    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (max-width: 630px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Kurale";
        background-color: #aec0eb;
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    header img {
        display: none;
    }
    .header-link {
        color: white;
        text-decoration: none;
        margin: 0 20px;
        font-size: 0.8em;
        align-self: center;
    }
    .block {
        margin-bottom: 25%;
        margin-left: 2%;
        margin-right: 2%;
    }
    h2 {
        text-align: center;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 10px;
        overflow: hidden;
        border-spacing: 0;

    }
    .table th, .table td {
        padding: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        padding-bottom: 10vh;


    }
    .table th {
        background-color: #af82ed;
        color: #000;

    }

    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }

    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
}
