@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@media (min-width: 1401px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #aec0eb;
        font-family: "Kurale";
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 80%;
    }
    .container {
        display: flex;
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-div {
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }
    .left-div-title {
        margin: 0;
        text-align: center;
        margin-bottom: 1%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .left-div-text {
        margin: 0;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .right-div {
        width: 50%;
        height: 80vh;
        flex: 1 1 50%;
        position: relative;
    }
    .right-div-form{
        position: absolute;
        width: 80%;
        margin: 20px auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    form {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #007bff;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        border-radius: 30px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .form-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .form-link:hover {
        color: #0056b3;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (max-width: 1400px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #aec0eb;
        font-family: "Kurale";
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 80%;
    }
    .container {
        display: flex;
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .left-div {
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
    .left-div-title {
        margin: 0;
        text-align: center;
        margin-bottom: 1%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .left-div-text {
        margin: 0;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .right-div {
        width: 50%;
        height: 80vh;
        flex: 1 1 50%;
        position: relative;
    }
    .right-div-form{
        position: absolute;
        width: 80%;
        margin: 20px auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    form {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #007bff;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        border-radius: 30px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .form-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .form-link:hover {
        color: #0056b3;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 30px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (max-width: 1200px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #aec0eb;
        font-family: "Kurale";
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 60%;
    }
    .container {
        display: flex;
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-div {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        flex-basis: 100%;
        width: 100%;
    }
    .left-div-title {
        margin: 0;
        text-align: center;
        margin-bottom: 1%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .left-div-text {
        margin: 0;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .right-div {
        flex-basis: 100%;
        width: 100%;
        height: 80vh;
        flex: 1 1 50%;
        position: relative;
    }
    .right-div-form{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 90%;
        margin: 20px auto;
    }
    form {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        margin-bottom: 15vh;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #007bff;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        border-radius: 30px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .form-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .form-link:hover {
        color: #0056b3;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 10px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        background-color: #aec0eb;
        font-family: "Kurale";
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 40%;
    }
    .container {
        display: flex;
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-div {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        flex-basis: 100%;
        width: 100%;
    }
    .left-div-title {
        margin: 0;
        text-align: center;
        margin-bottom: 1%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .left-div-text {
        margin: 0;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .right-div {
        flex-basis: 100%;
        width: 100%;
        height: 80vh;
        flex: 1 1 50%;
        position: relative;
    }
    .right-div-form{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 90%;
        margin: 20px auto;
    }
    form {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        margin-bottom: 15vh;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #007bff;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        border-radius: 30px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .form-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .form-link:hover {
        color: #0056b3;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
        margin-top: 1.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.8em, 1.5vw, 1.2em);
    }
}
@media (max-width: 630px)  {
    body {
        margin: 0;
        padding: 0;
        background-color: #aec0eb;
        font-family: "Kurale";
    }
    header {
        height: 10vh;
        width: 100%;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
    }
    img {
        height: 40%;
    }
    .container {
        display: flex;
        margin-top: 10vh;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
    .left-div {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        flex-basis: 100%;
        width: 100%;
    }
    .left-div-title {
        margin: 0;
        text-align: center;
        margin-bottom: 1%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .left-div-text {
        margin: 0;
        text-align: justify;
        margin-left: 5%;
        margin-right: 5%;
        font-family: "Kurale";
        font-size: clamp(0.8em, 2vw, 1em);
    }
    .right-div {
        flex-basis: 100%;
        width: 100%;
        height: 80vh;
        flex: 1 1 50%;
        position: relative;
    }
    .right-div-form{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 90%;
        margin: 20px auto;
    }
    form {
        width: 90%;
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
        background-color: #999999;
        border-radius: 30px;
        margin-bottom: 15vh;
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 30px;
        font-size: 12px;
    }

    button {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: #007bff;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        border-radius: 30px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .form-link {
        color: #007bff;
        cursor: pointer;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        text-decoration: none;
    }
    .form-link:hover {
        color: #0056b3;
    }
    footer {
        height: 10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        color: #fff;
    }
    .footer-text {
        text-align: center;
        margin: 0;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
        margin-top: 0.5vh;
    }
    .footer-text-second {
        flex-grow: 1;
        display: inline-block;
        text-align: center;
        margin: 2px;
        font-size: 1.2em;
        margin-top: 0.5vh;
        font-size: clamp(0.6em, 1.5vw, 0.8em);
    }
}
