<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${dish.name}">Деталі страви</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dish.css}"/>
</head>
<body>
<header>
    <a th:href="@{'/' + ${user.id} + '/encyclopedia'}" class="header-link">Повернутися до енциклопедії</a></header>
<main class="main">
    <h1 th:text="${dish.name}">Назва страви</h1>
    <img th:src="${dish.imageSrc}" width="200" height="200" alt="Photo">
    <a th:href="@{${dish.wikySrc}}" target="_blank"><p th:text="${dish.descr}">Опис страви</p></a>
</main>
<footer>
    <p class="footer-text">Виконавці проекту:</p>
    <p class="footer-text-second">Андрій Гордієнко</p>
    <p class="footer-text-second">Дар'я Дем'яненко</p>
    <p class="footer-text-second">Даніїл Єгоров</p>
    <p class="footer-text-second">Анастасія Жорняк</p>
    <p class="footer-text-second">Алина Стульбо</p>
</footer>
</body>
</html>