<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/css/LevelRealiz.css}"/>
  <title>Cook Master</title>
</head>
<body>

<header>
  <a th:href="@{'/' + ${user.id} + '/' + ${user.login}}" class="header-link" th:text="${user.login}"/>
  <img src="/images/logo.png" alt="Logo" th:src="@{/images/logo.png}">
  <a th:href="@{'/' + ${user.id} + '/Game'}" class="header-link">Повернутися назад</a>
</header>
<div class="container">
  <h1>Рівень<span th:text="${level.id}"/></h1>
  <p>Підказка: <span th:text="${level.hint}"/></p>
  <p>Бали за рівень: <span th:text="${level.pointsPerLevel}"></span></p>
  <h2>Продукти для даного рівня</h2>
  <form th:action="@{'/' + ${user.id} + '/Game/submitSequence'}" method="post">
    <input type="hidden" name="levelId" th:value="${level.id}">
    <table class="table">
      <thead>
      <tr>
        <th>Інгрідієнти</th>
        <th>Послідовність</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="entry : ${products}">
        <input type="hidden" name="productId" th:value="${entry.key.id}">
        <td th:text="${entry.key.name}"></td>
        <td>
          <input type="number" name="subsequence" th:max="${maxSubsequence}" required>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="form-group">
      <label for="dishName">Назва страви:</label>
      <input type="text" id="dishName" name="dishName" class="form-control" required>
    </div>
    <p th:if="${error}" style="background-color:red" th:text="${error}"/>
    <button type="submit" class="btn btn-primary">Підтвердити</button>
  </form>
</div>
<footer>
  <p class="footer-text">Виконавці проекту:</p>
  <p class="footer-text-second">Андрій Гордієнко</p>
  <p class="footer-text-second">Дар'я Дем'яненко</p>
  <p class="footer-text-second">Даніїл Єгоров</p>
  <p class="footer-text-second">Анастасія Жорняк</p>
  <p class="footer-text-second">Аліна Стульбо</p>
</footer>
</body>
</html>
